.button {
    border: 1px solid;
    border-color: #a6b1e1;
    background-color: #ffffff;
    border-radius: 18px;
    display: flex;
    margin-top: 75px;
    gap: 8px;
    height: 45px;
    width: 208px;
}

.text {
    color: #737373;
    font-family: "Kanit";
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    margin-top: 7px;
    line-height: 30px;
}

.icon {
    align-self: center;
    margin-top: -2px;
    margin-left: 8px;
}

@font-face {
    font-family: 'Kanit';
    src: '../../assets/Kanit-Regular.ttf' format('ttf');
    font-weight: normal;
    font-style: normal;
}