.wallpaper {
    background-image: url('../../assets/loginwallpaper.png');
    background-color: white;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}