.menuButton {
    background-color: #ffffff00;
    border-color: #ffffff00;
    margin-top: 15px;
    margin-left: 15px;
    align-self: normal;
    position: relative;
    display: flex;
    width: 48px;
    height: 45px;
}
