.inicio {
    align-items: center;
    border: 1px solid;
    border-color: #a6b1e1;
    background-color: #ffffff;
    border-radius: 18px;
    display: flex;
    gap: 8px;
    padding: 8px 41px;
    position: relative;
    width: 208px;
}

.inicio .textWrapper {
    color: #737373;
    font-family: "Kanit", Hel, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.inicio .iconoCasa {
    height: 22px;
    left: 10px;
    position: absolute;
    top: 12px;
    width: 20px;
}

@media (hover: hover) and (pointer: fine) {
    .inicio:hover {
        background-color: #f2f2f2;
        border-color: #a6b1e1;
    }
        .inicio:active {
            background-color: #f2f2f2;
            border-color: #a6b1e1;
            transform: translateY(-2px);
        }
}